@import "variables";

.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0;
    &__item{
        button{
            background-color: white;
            border: none;
        }
        list-style: none;
        a{
            img{
                height: 20px;
                width: 20px;
            }
            div{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background: $gradientColor;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }    
}

